<div class="homepage">

    <div class="container m-auto text-center pt-12 ">
<h1 class="text-white text-9xl shadow-md mb-12 ">Cinema Ironhack</h1>


  <a href="/movies"  class="p-6 rounded-xl bg-slate-50 text-slate-800 shadow-lg ">Check the movies!</a>

</div>

</div>
